
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python
.vscode/
.DS_Store
.venv/
**/lbfdenv/
*/.ipynb_checkpoints/
*/runs/
.env/
dataset/
*.egg-info/
mlruns
experiments/
notes.txt



video_results.json
video_testing
model_weights